---
- name: Create downloads directory
  file:
    path: "/tmp/downloads"
    state: directory
    mode: 0655
    owner: root
    group: wheel

# Oracle Java JDK is required by Djatoka, can't use OpenJDK
- name: get JDK from Oracle
  get_url:
    url: "http://download.oracle.com/otn-pub/java/jdk/8u102-b14/jdk-8u102-linux-x64.rpm"
    headers: 'Cookie:oraclelicense=accept-securebackup-cookie'
    dest: "/tmp/downloads/jdk-8u102-linux-x64.rpm"

- name: Install JDK RPM
  yum:
    name: "/tmp/downloads/jdk-8u102-linux-x64.rpm"
    state: present

- name: Install yum packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - tomcat
    - tomcat-admin-webapps

- name: Create fcrepo3 database
  mysql_db:
    login_host: localhost
    login_user: root
    login_password: root
    name: fcrepo3_repository_resdev
    state: present

- name: Get fcrepo3 installer from sourceforge
  get_url:
    url: "http://sourceforge.net/projects/fedora-commons/files/fedora/3.8.1/fcrepo-installer-3.8.1.jar/download"
    dest: "/tmp/downloads/fcrepo-installer-3.8.1.jar"

- name: Create install.properties for fcrepo3 install
  template:
    src: "install.properties.j2"
    dest: "/tmp/downloads/install.properties"

- name: Create fedora-profile.sh with fedora environment variables
  template:
    src: "fedora-profile.sh.j2"
    dest: "/etc/profile.d/fedora-profile.sh"

- name: Install fcrepo3
  shell: java -jar /tmp/downloads/fcrepo-installer-3.8.1.jar /tmp/downloads/install.properties
  args:
    creates: {{ fedora_home }} 

- name: Verifty that tomcat owns fcrepo3 war
  file:
    path: /var/lib/tomcat/webapps/fedora.war
    state: file
    owner: tomcat
    group: tomcat

- name: Verify that tomcat owns FEDORA_HOME
  file:
    path: {{ fedora_home }}
    state: directory
    owner: tomcat
    group: tomcat
    recurse: yes

- name: Restart tomcat
  service:
    name: tomcat
    state: restarted

- name: Remove default deny XACML policies
  file:
    path: "{{ fedora_home }}/data/fedora-xacml-policies/repository-policies/default/{{ item }}"
    state: absent
  with_items:
    - deny-inactive-or-deleted-objects-or-datastreams-if-not-administrator.xml
    - deny-policy-management-if-not-administrator.xml
    - deny-unallowed-file-resolution.xml
    - deny-purge-datastream-if-active-or-inactive.xml
    - deny-purge-object-if-active-or-inactive.xml
    - deny-reloadPolicies-if-not-localhost.xml

- name: Deploy standard Islandora XACML policies
  git:
    repo: https://github.com/Islandora/islandora-xacml-policies.git
    dest: {{ fedora_home }}/data/fedora-xacml-policies/repository-policies/islandora
    force: yes
    
- name: Remove Islandora XACML policies allowing anonymous access
  file:
    path: "{{ fedora_home }}/data/fedora-xacml-policies/repository-policies/islandora/{{ item }}"
    state: absent
  with_items:
    - permit-apim-to-anonymous-user.xml
    - permit-upload-to-anonymous-user.xml
     
- name: Set ownership of Islandora XACML policies
  file:
    path: "{{ fedora_home }}/data/fedora-xacml-policies/repository-policies/islandora/"
    state: directory
    owner: tomcat
    group: tomcat
    recurse: yes

- name: Restart tomcat again
  service:
    name: tomcat
    state: restarted
