---
- name: Create downloads directory
  file:
    path: "/tmp/downloads"
    state: directory
    mode: 0655
    owner: root
    group: wheel

# Oracle Java JDK is required by Djatoka, can't use OpenJDK
- name: get JDK from Oracle
  get_url:
    url: "http://download.oracle.com/otn-pub/java/jdk/8u102-b14/jdk-8u102-linux-x64.rpm"
    headers: 'Cookie:oraclelicense=accept-securebackup-cookie'
    dest: "/tmp/downloads/jdk-8u102-linux-x64.rpm"

- name: Install JDK RPM
  yum:
    name: "/tmp/downloads/jdk-8u102-linux-x64.rpm"
    state: present

- name: Install yum packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - tomcat
    - tomcat-native
    - tomcat-admin-webapps
    - mariadb
    - MySQL-python

- name: Create fcrepo3 database
  mysql_db:
    login_host: "{{ fedora_db_host }}"
    login_port: "{{ fedora_db_port }}"
    login_user: "{{ fedora_db_user }}"
    login_password: "{{ fedora_db_pass }}"
    name: "{{ fedora_db }}"
    encoding: "utf8"
    collation: "utf8_bin"
    state: present

- name: Get fcrepo3 installer from github
  get_url:
    url: "https://github.com/fcrepo3/fcrepo/releases/download/v3.8.1/fcrepo-installer-3.8.1.jar"
    timeout: 30
    dest: "/tmp/downloads/fcrepo-installer-3.8.1.jar"

- name: Create install.properties for fcrepo3 install
  template:
    src: "install.properties.j2"
    dest: "/tmp/downloads/install.properties"

- name: Create fedora-profile.sh with fedora environment variables
  template:
    src: "fedora-profile.sh.j2"
    dest: "/etc/profile.d/fedora-profile.sh"

- name: Install fcrepo3
  shell: java -jar /tmp/downloads/fcrepo-installer-3.8.1.jar /tmp/downloads/install.properties
  args:
    creates: "{{ fedora_home }}/install/install.properties"

- name: Replace akubra-llstore.xml with our desired configuration
  template:
    src: "akubra-llstore.xml.j2"
    dest: "{{ fedora_home}}/server/config/spring/akubra-llstore.xml"

- name: Verify that things exist and tomcat owns them
  file:
    path: "{{ item.path }}"
    state: "{{ item.state }}"
    owner: tomcat
    group: tomcat
    recurse: yes
  with_items:
    - path: /var/log/tomcat
      state: directory
    - path: "{{ fedora_home }}"
      state: directory
    - path: "{{ fedora_fs_object_store }}"
      state: directory
    - path: "{{ fedora_fs_datastream_store }}"
      state: directory

- name: Verify that things exist and tomcat owns them
  file:
    path: "{{ item.path }}"
    state: "{{ item.state }}"
    owner: tomcat
    group: tomcat
  with_items:
    - path: /var/lib/tomcat/webapps/fedora.war
      state: file

- name: Restart tomcat
  service:
    name: tomcat
    state: restarted
    enabled: yes

- name: Remove default deny XACML policies
  file:
    path: "{{ fedora_home }}/data/fedora-xacml-policies/repository-policies/default/{{ item }}"
    state: absent
  with_items:
    - deny-inactive-or-deleted-objects-or-datastreams-if-not-administrator.xml
    - deny-policy-management-if-not-administrator.xml
    - deny-unallowed-file-resolution.xml
    - deny-purge-datastream-if-active-or-inactive.xml
    - deny-purge-object-if-active-or-inactive.xml
    - deny-reloadPolicies-if-not-localhost.xml

- name: Deploy standard Islandora XACML policies
  git:
    repo: https://github.com/Islandora/islandora-xacml-policies.git
    dest: "{{ fedora_home }}/data/fedora-xacml-policies/repository-policies/islandora"
    force: yes

- name: Remove Islandora XACML policies allowing anonymous access
  file:
    path: "{{ fedora_home }}/data/fedora-xacml-policies/repository-policies/islandora/{{ item }}"
    state: absent
  with_items:
    - permit-apim-to-anonymous-user.xml
    - permit-upload-to-anonymous-user.xml

- name: Configure deployed gsearch to use the Fedora object store
  replace:
    dest: /usr/share/tomcat/webapps/fedoragsearch/WEB-INF/classes/fgsconfigFinal/repository/FgsRepos/repository.properties
    regexp: '^(fgsrepository.fedoraObjectDir   = )\/usr\/local\/islandoradata\/objectStore$'
    replace: '\1{{ fedora_fs_object_store }}'
    backup: yes

- name: Verify that tomcat owns FEDORA_HOME
  file:
    path: "{{ fedora_home }}"
    state: directory
    owner: tomcat
    group: tomcat
    recurse: yes

- name: Wait for magic
  wait_for: timeout=60

- name: Restart tomcat again
  service:
    name: tomcat
    state: restarted

- name: Wait for magic
  wait_for: timeout=60
